{% extends 'registration/base.html' %}


{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-8">
            {% for image in all_images %}
            <div class="home-images">
                <p class="home-text">
                    <!--<img src="{{image.profile_details.profile_pic.cdn_url}}" class="rounded-circle" style="width:10%;" alt="">-->
                    <!--<a href="{% url 'showprofile' id=image.profile.id %}"><i class="fa fa-user" style="font-size:48px"></i>-->
                        <a href="{% url 'showprofile' id=image.profile.id %}"><i class="fa fa-user" style="font-size:48px"></i>

                        {{image.profile.username}}</a>
                </p>
                <img src="{{image.pic.cdn_url}}" alt="Image">
                <ul class="list-inline ">
                    <li class="list-inline-item">
                        <a href=" {% url 'like' image_id=image.id %}">
                        <i class="fa fa-heart-o" style="color: red" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <a href=" {% url 'comment' image_id=image.id %}"><i class="fa fa-comment" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <p>{{image.name}} </p>
                        <p>{{image.caption}} </p>
                        {{image.Comment.comment}}

                    </li>
                </ul>


                <hr>
                <div class="col-md-4">
                    {% for comment in comments %}
                    {% if comment.image_id == image.id%}
                    <p class=""> {{comments.image_id|length}} comments </p>
                    <small>{{comment.comment_owner}}</small>
                    <p>{{comment.comment}}</p>

                    {% endif %}
                    {% endfor %}

                </div>

            </div>
            {% empty %}
            <h2>No images. Follow people to see their images</h2>
            <p><a href= "{% url 'upload_image' %}">Add Image</a></p>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}